Module Variables ("vars"):
--------------------------------
{{ vars | to_nice_json }} 

Environment Variables ("environment"):
--------------------------------
{{ environment | to_nice_json }} 

GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names | to_nice_json }}

GROUPS Variables ("groups"):
--------------------------------
{{ groups | to_nice_json }}

{% set hosts = groups['all'] %}
{% for host in hosts %}
{{ hostvars[host]['ansible_all_ipv4_addresses'][0] }} {{ host }}
{% endfor %}
